.minibar {
  /*   i:hover {
        color: #ee5456;
        background-color: white;
        transform: scale(1.5);

    } */
}

.minibar p {
  color: white;
}

.minibar .fab {
  font-size: 1.5rem;
}

.minibar i {
  color: white;
}

.navbar {
  position: relative;
}

.navbar-brand {
  margin-left: -20px;
}

@media (min-width: 992px) {
  .navbar-collapse {
    position: absolute;
    right: 0;
  }
}

.navbar .nav-link {
  color: #0e0e0e;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .navbar .nav-link {
    margin: 0 0.3rem;
    padding: 1.5rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-bottom: 3px solid transparent;
  }
}

.navbar .nav-link:hover {
  color: red;
}

@media (min-width: 992px) {
  .navbar .nav-link:hover {
    border-bottom: 3px solid red;
  }
}

.navbar i {
  display: none;
}

@media (min-width: 992px) {
  .navbar i {
    display: inline;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 8px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
  }
}

.navbar i:hover {
  background-color: #fff;
  color: red;
}

.card-image {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (min-width: 760px) {
  .card-image {
    height: 70vh;
  }
}

.card-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.card-title span {
  color: #03a9f5;
}

.card .btn {
  background-color: #03a9f5;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card .btn:hover {
  background-color: red;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.gradient {
  background-color: #4285F4;
}

@media (min-width: 760px) {
  .gradient {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #4285F4), color-stop(50%, #03a9f5));
    background: linear-gradient(to right, #4285F4 50%, #03a9f5 50%);
  }
}

.offer {
  width: 100%;
}

.offer .item {
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

@media (min-width: 760px) {
  .offer .item {
    width: 16.6%;
    font-size: .8rem;
  }
}

.offer .item i {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 760px) {
  .offer .item i {
    font-size: 2rem;
    margin-bottom: .5rem;
  }
}

.offer .item:nth-child(even) {
  background-color: #03a9f5;
}

.offer .item:nth-child(odd) {
  background-color: #4285F4;
}

.about i {
  width: 40px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  padding-top: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.about i:hover {
  background-color: #fff;
  color: red;
}

.about span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.about p {
  color: darkgray;
  font-weight: 500;
  font-size: .85rem;
  line-height: 1.5rem;
}

video {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.portfolio h2 {
  text-align: center;
  font-weight: 500;
}

.portfolio p {
  text-align: center;
  color: darkgray;
}

.portfolio hr {
  border: 2px solid #03a9f5;
  width: 50px;
}

.portfolio a {
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}

.portfolio .view {
  position: relative;
  margin: 15px;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio img {
  width: 100%;
  margin: 15px;
  border: 6px solid white;
  position: relative;
}

@media (min-width: 760px) {
  .portfolio img {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .portfolio img {
    width: 30%;
  }
}

.portfolio .mask {
  position: static;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 15px;
  border: 6px solid white;
  margin-top: -315px;
  margin-left: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 84px;
  padding-bottom: 84px;
}

@media (min-width: 400px) {
  .portfolio .mask {
    width: 100%;
    margin-top: -340px;
    margin-left: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-top: 97px;
    padding-bottom: 97px;
  }
}

@media (min-width: 760px) {
  .portfolio .mask {
    width: 45%;
    margin-left: -325px;
    margin-top: 15px;
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media (min-width: 1020px) {
  .portfolio .mask {
    width: 45%;
    margin-left: -430px;
    margin-top: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (min-width: 1200px) {
  .portfolio .mask {
    width: 30%;
    margin-left: -345px;
    margin-top: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (min-width: 1440px) {
  .portfolio .mask {
    margin: 15px;
    margin-left: -348px;
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

.portfolio .mask:hover {
  opacity: 1;
}

.portfolio i {
  width: 40px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 50%;
  background-color: white;
  color: #63b5f7;
  text-align: center;
  padding-top: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.portfolio p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}

.portfolio .btn {
  background-color: #03a9f5;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.portfolio .btn i {
  border-radius: 0;
  background-color: transparent;
  color: white;
  padding-top: 6px;
  width: 30px;
  height: 30px;
}

.portfolio .btn:hover {
  background-color: red;
}

.team {
  width: 100%;
}

.team h2 {
  text-align: center;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.team p {
  text-align: center;
  color: white;
}

.team hr {
  border: 2px solid #fff;
  width: 50px;
}

.team .card {
  width: 100%;
  background-color: #1f92ef;
}

@media (min-width: 760px) {
  .team .card {
    width: 30%;
  }
}

.team .card img {
  border-radius: 50%;
  width: 65%;
  border: 8px solid #2a9cfa;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.team .card .hr-card {
  width: 100%;
  border: 0.9px solid rgba(255, 255, 255, 0.8);
}

.team .card img:hover {
  border: 8px solid white;
}

.team .card-title {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.team .card-text {
  color: white;
  text-transform: uppercase;
}

.team .card .hr-card2 {
  width: 60%;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.team .card .icons {
  text-align: center;
}

.team .card .icons i {
  margin: 0 0.5rem;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.team .card .icons i:hover {
  color: red;
}

.counter {
  background-color: #fff;
}

.counter p {
  font-size: 1.2rem;
}

.testimonals h2 {
  text-transform: uppercase;
  font-weight: 500;
}

.testimonals p {
  text-align: center;
  color: white;
}

.testimonals hr {
  border: 2px solid #fff;
  width: 50px;
}

.testimonals .bor {
  border: 8px solid white;
}

.testimonals .bor2 {
  border: 4px solid #2a9cfa;
}

.testimonals .fa-angle-right {
  right: 0;
  position: absolute;
  top: 75%;
}

.testimonals .fa-angle-left {
  left: 0;
  position: absolute;
  top: 75%;
}

.testimonals i {
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
  border-radius: 50%;
  background-color: white;
  color: #1976d2;
  text-align: center;
  padding-top: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.testimonals i:hover {
  background-color: red;
  color: red;
}

.brands {
  overflow: hidden;
  position: relative;
}

.brands .fa-angle-right {
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}

.brands .fa-angle-left {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}

.brands i {
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
  border-radius: 50%;
  color: white;
  background-color: #1976d2;
  text-align: center;
  padding-top: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.brands i:hover {
  background-color: red;
}

.pricing {
  margin-bottom: 5rem;
}

.pricing .head h2 {
  text-align: center;
  font-weight: 500;
}

.pricing .head p {
  text-align: center;
  color: darkgray;
}

.pricing .head hr {
  border: 2px solid #03a9f5;
  width: 50px;
}

.pricing .pricing-card {
  -webkit-transition: .2s;
  transition: .2s;
}

.pricing .pricing-card:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
}

.pricing .pricing-card:hover hr {
  background-color: red;
}

.pricing .pricing-card:hover button {
  background-color: red;
}

.pricing span {
  font-size: 1rem;
}

.pricing p {
  text-transform: uppercase;
}

.news h2 {
  text-align: center;
  font-weight: 500;
}

.news p {
  text-align: center;
  color: darkgray;
}

.news hr {
  border: 2px solid #03a9f5;
  width: 50px;
}

.news .card {
  width: 30%;
}

@media (max-width: 500px) {
  .news .card {
    width: 100%;
  }
}

.news i {
  right: 5%;
  top: 55%;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 50%;
  color: white;
  background-color: #03a9fe;
  text-align: center;
  padding-top: 11px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.news i:hover {
  background-color: red;
}

.news h4 {
  font-size: 1rem;
}

.news h6 {
  font-size: 0.8rem;
}

.updates h2 {
  text-align: center;
  font-weight: 500;
}

.updates p {
  text-align: center;
  color: darkgray;
}

.updates hr {
  border: 2px solid #03a9f5;
  width: 50px;
}

.updates .btn {
  border-radius: 40px;
}

.footer {
  position: relative;
}

.footer i {
  width: 40px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 50%;
  color: #03a9fe;
  background-color: white;
  text-align: center;
  padding-top: 11px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  margin: 0 .5rem;
}

.footer i:hover {
  background-color: red;
  color: white;
}

/*# sourceMappingURL=style.css.map */