.card {
  &-image {
    background-image: url("../../img/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    @media (min-width: 760px) {
      height: 70vh;
    }
  }

  &-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;

    span {
      color: #03a9f5;
    }
  }

  .btn {
    background-color: #03a9f5;
    font-weight: bold;
    transition: 0.2s;
  }

  .btn:hover {
    background-color: red;
    transform: scale(1.2);
  }
}
