.minibar {

    p {
        color: white;

    }

    .fab {
        font-size: 1.5rem;
    }

    i {
        color: white;

    }

    /*   i:hover {
        color: #ee5456;
        background-color: white;
        transform: scale(1.5);

    } */
}