.updates {
    h2 {
        text-align: center;
        font-weight: 500;
    }

    p {
        text-align: center;
        color: darkgray;
    }

    hr {
        border: 2px solid #03a9f5;
        width: 50px;
    }

    .btn {
        border-radius: 40px;
    }

}